<%- include('snippets/header') %>

<h3>Kode reset anda silahkan masukkan</h3>
<div class="container-sm">
    <div class="row">
        <div class="col-6">
            <form action="/lupapassword" method="POST">
                <div class="mb-3">
                    <label for="kode" class="form-label">Kode reset anda</label>
                    <input type="text" class="form-control" id="kode" aria-describedby="emailHelp" name="kode">
                  </div>
                  <button class="btn btn-dark" type="submit">Kirim Kode ke Email</button>
            </form>
        </div>
    </div>
</div>

<%- include('snippets/footer') %>