<%- include('snippets/header') %>
<h3>Dashboard User</h3>
<ul>
    <li><a href="/ubahpassword/<%= idUser.id %>">Ubah Password</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>

    
</body>
</html>
<%- include('snippets/footer') %>