 <!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Client</title>
</head>
<body>
    

    <form action="" method="post">
    <table>
            <tr>
                <td>Nama Client</td>
                <td><input type="text" name="namaApp"></td>
            </tr>
            <tr>
                <td>Redirect URI Client</td>
                <td><input type="text" name="redirect_uri"></td>
            </tr>
        </table>
            <button type="submit">Simpan</button>
        </form>
     
</body>
</html>  -->

<%- include('snippets/head') %>
<head>
  <title>EDIT DATA CLIENT</title>
</head>

<body class="hold-transition register-page">
    <div class="register-box">
      <div class="register-logo">
        <a href="#"><b>Edit </b>Client</a>
      </div>
    
      <div class="card">
        <div class="card-body register-card-body">
          <p class="login-box-msg">Edit Data Client</p>
    
          <form action="" method="post">
            <div class="input-group mb-3">
              <input type="text" class="form-control"  placeholder="Nama Client" name="namaApp"  value="<%= clients.nama_client %>" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control"  placeholder="Redirect Uri" name="redirect_uri" value="<%= clients.redirect_uri %>"  required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
 
              
              <div class="col-12" >
                <button type="submit" class="btn btn-primary btn-block">Update</button>
              </div>
             
            </div>
          </form>
    
    </body> 

  <%- include('snippets/foot') %>