<%- include('snippets/head') %>
<div class="container m-5 p-5">
  <div class="row justify-content-center">
    <div class="col-4">

      <div class="container-sm m-5">
        <h3>Apakah anda yakin mau menghapus data ini?</h3>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" name="simpan" class="btn btn-primary" id="btnSubmit" value="Submit" onclick="return Validate()">
      </form>
      </div>
      </div>
    </div>
  </div>

<%- include('snippets/foot') %>