<%- include('snippets/header') %>

<div class="container-sm">
    <div class="row">
        <div class="col-6">
            <form action="/lupapassword" method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
                  </div>
                  <button class="btn btn-dark" type="submit">Kirim Kode ke Email</button>
            </form>
        </div>
    </div>
</div>

<%- include('snippets/footer') %>