<%- include('snippets/header') %>

<h3>Register User</h3>
    <form action="/user/register" method="POST">
        <table>
            <tr>
                <td>Nama</td>
                <td><input type="text" name="nama"></td>
            </tr>
            <tr>
                <td>Role</td>
                <td><input type="text" name="role" value="user" disabled></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="text" name="password"></td>
            </tr>
        </table>
        <input type="submit" value="Simpan">
    </form>
<%- include('snippets/footer') %>
