<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman User</title>
</head>
<body>

    <ul>
        <li><a href="/user/register">Register User</a></li>
    </ul>

    <table>
        <tr>
            <td>Nama</td>
            <td>Email</td>
        </tr>
        <tr></tr>
        <tr></tr>
    </table>
    
</body>
</html>