<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Client</title>
</head>
<body>
    

    <table>
        <form action="" method="post">
            <tr>
                <td>Nama Client</td>
                <td><input type="text" name="client_name"></td>
            </tr>
            <tr>
                <td>Redirect URI Client</td>
                <td><input type="text" name="redirect_uri"></td>
            </tr>
            <button type="submit">Simpan</button>
        </form>
     
    </table>
</body>
</html>