<%- include('snippets/head') %>


<!--
    <h3>Ubah Password</h3>
    <div class="container-sm p-3">
        <div class="row justify-content-center">
            <div class="col-6">
    
                <h3 class="text-center">Ubah Password</h3>
                <form action="" method="POST">
            
                    <div class="mb-3">
                        <label for="password_lama" class="form-label">Password Lama</label>
                        <input type="password_lama" class="form-control" id="password_lama" name="password_lama">
                    </div>
                    <div class="mb-3">
                        <label for="password_baru" class="form-label">Password Baru</label>
                        <input type="password_baru" class="form-control" id="password_baru" name="password_baru">
                    </div>
                    
                    <button type="submit" class="btn btn-dark">Ubah Password</button>
                </form>
            </div>
        </div>
    </div>
    
<%- include('snippets/footer') %>
-->

<head>
  <title>RESET PASSWORD</title>
</head>
<body class="hold-transition register-page">

  <% pesan.forEach(p => { %>
    <div class="alert alert-warning d-flex align-items-center" role="alert">
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
      </svg>
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
      <div>
        <%= p %>
      </div>
    </div>
    <% }) %>
    <div class="register-box">
      <div class="register-logo">
        <a href="#"><b>Admin</b>LTE</a>
      </div>
    
      <div class="card">
        <div class="card-body register-card-body">
          <p class="login-box-msg">Masukan kata sandi baru dan sebelumnya</p>
    
          <form action="" method="post">
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Password lama" name="password_lama">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="password baru" name="password_baru">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
            
              <!-- /.col -->
            </div>
            <div class="social-auth-links text-center">
              <button type="submit" class="btn btn-block btn-primary">
                Ganti Katasandi
              </button>
            </div>
          </form>
    
    
        
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    
    </body>

<%- include('snippets/foot') %>