<%- include('snippets/head') %>


<!--
    <h3>Ubah Password</h3>
    <div class="container-sm p-3">
        <div class="row justify-content-center">
            <div class="col-6">
    
                <h3 class="text-center">Ubah Password</h3>
                <form action="" method="POST">
            
                    <div class="mb-3">
                        <label for="password_lama" class="form-label">Password Lama</label>
                        <input type="password_lama" class="form-control" id="password_lama" name="password_lama">
                    </div>
                    <div class="mb-3">
                        <label for="password_baru" class="form-label">Password Baru</label>
                        <input type="password_baru" class="form-control" id="password_baru" name="password_baru">
                    </div>
                    
                    <button type="submit" class="btn btn-dark">Ubah Password</button>
                </form>
            </div>
        </div>
    </div>
    
<%- include('snippets/footer') %>
-->

<body class="hold-transition register-page">
    <div class="register-box">
      <div class="register-logo">
        <a href="#"><b>Admin</b>LTE</a>
      </div>
    
      <div class="card">
        <div class="card-body register-card-body">
          <p class="login-box-msg">Ganti Kata sandi</p>
    
          <form action="" method="post">
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Password lama" name="password_lama">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="password baru" name="password_baru">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
            
              <!-- /.col -->
            </div>
            <div class="social-auth-links text-center">
              <button type="submit" class="btn btn-block btn-primary">
                ganti katasandi
              </button>
            </div>
          </form>
    
    
        
        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    
    </body>
