<%- include('snippets/header') %>

    <h3>Ubah Password</h3>
    <form action="" method="POST">
        <table>
            <tr>
                <td>Password Lama</td>
                <td><input type="text" name="password_lama"></td>
            </tr>
            <tr>
                <td>Password Baru</td>
                <td><input type="text" name="password_baru"></td>
            </tr>
        </table>
        <input type="submit" value="Simpan">
    </form>
    
<%- include('snippets/footer') %>
