<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    

    <h3>Edit User</h3>
    <form action="" method="POST">
        <table>
            <tr>
                <td>Nama</td>
                <td><input type="text" name="nama" value="<%= user.nama %>"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" value="<%= user.email %>"></td>
            </tr>
        </table>
        <input type="submit" value="Simpan">
    </form>

</body>
</html>