<%- include('snippets/header') %>


    <h3>Edit User</h3>
    <form action="" method="POST">
        <div class="mb-3">
            <label for="nama" class="form-label">Nama</label>
            <input type="text" class="form-control" id="nama" name="nama" value="<%= user.email %>">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" value="<%= user.nama %>">
          </div>
        <button class="btn btn-dark" type="submit">Simpan</button>
    </form>

<%- include('snippets/footer') %>
