<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Token Bermasalah</title>
    <link rel="stylesheet" type="text/css" href="/hal_error/assets/css/style.css" />
    <link href="/hal_error/assets/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
    <div class="container">
        <img class="ops" src="/hal_error/assets/images/404.svg" />
        <br />
        <h3>Token atau link reset anda belum dimasukkan
            <br /> Silahkan cek email anda untuk periksa link atau token yang dikirim.</h3>
        <br />
        <!-- <a class="buton" href="/lupapassword">Lupa Password</a> -->
    </div>
</body>

</html>