<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Bukanlah Admin</title>
    <link rel="stylesheet" type="text/css" href="/hal_error/assets/css/style.css" />
    <link href="/hal_error/assets/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
    <div class="container">
        <img class="ops" src="/hal_error/assets/images/404.svg" />
        <br />
        <h3>Maaf Anda bukanlah Admin
            <br /> Akun anda tidak punya kewenangan untuk mengakses halaman ini, silahkan kembali</h3>
        <br />
        <a class="buton" href="/">Kembali</a>
    </div>
</body>

</html>